# 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸

In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
import warnings
import matplotlib.pyplot as plt
import pandas as pd 
import joblib, os

import warnings
import platform
import matplotlib.pyplot as plt

from matplotlib import font_manager, rc 
warnings.filterwarnings('ignore')

path = "C:/Windows/Fonts/malgun.ttf"

if platform.system() == "Darwin":
    rc("font", family="Arial Unicode MS")
elif platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc("font", family=font_name)
else:
    print("Unknown system. sorry")

C:\Users\User\anaconda3\envs\tf\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

# 2. ë°ì´í„° ë¡œë“œ

ì‚¬ìš©í•  Feature ì„ íƒ

In [55]:
m = ['url','content','context_img','content_cnt','content_line', 'img_cnt','... ë¹ˆë„ ìˆ˜','ë‚´ëˆë‚´ì‚° í‚¤ì›Œë“œ','ì¿ íŒ¡í‚¤ì›Œë“œ','ã…  ë¹ˆë„ ìˆ˜',
     'ê´‘ê³ í‚¤ì›Œë“œ','ë‹¨ì  ë¹ˆë„ ìˆ˜','ã…  ë¹ˆë„ ìˆ˜','ê´‘ê³ í‚¤ì›Œë“œ','ë‹¨ì  ë¹ˆë„ ìˆ˜','ì´ë¯¸ì§€ê´‘ê³ í‚¤ì›Œë“œ3','ë¹„êµ ë¹ˆë„ ìˆ˜',
     'ì†”ì§ ë¹ˆë„ ìˆ˜','coupan.ng í‚¤ì›Œë“œ','quote_cnt','ã…‹ã…‹ã…‹ã…‹ ë¹ˆë„ ìˆ˜','ã…‹ ë¹ˆë„ ìˆ˜','ì´ë¯¸ì§€ê¸€ì—†ìŒ','ì´ë¯¸ì§€ê´‘ê³ í‚¤ì›Œë“œ1',
     'ì´ë¯¸ì§€ì¿ íŒ¡í‚¤ì›Œë“œ1','ã…‹ã…‹ ë¹ˆë„ ìˆ˜','ê´‘ê³  ë¶„ë¥˜1', 'ê´‘ê³  ë¶„ë¥˜2'
]

In [56]:
df = pd.read_csv("Total_Data_4(1).csv")
df = df[m]
df.head(2)

,url,content,context_img,content_cnt,content_line,img_cnt,... ë¹ˆë„ ìˆ˜,ë‚´ëˆë‚´ì‚° í‚¤ì›Œë“œ,ì¿ íŒ¡í‚¤ì›Œë“œ,ã… ë¹ˆë„ ìˆ˜,...,coupan.ng í‚¤ì›Œë“œ,quote_cnt,ã…‹ã…‹ã…‹ã…‹ ë¹ˆë„ ìˆ˜,ã…‹ ë¹ˆë„ ìˆ˜,ì´ë¯¸ì§€ê¸€ì—†ìŒ,ì´ë¯¸ì§€ê´‘ê³ í‚¤ì›Œë“œ1,ì´ë¯¸ì§€ì¿ íŒ¡í‚¤ì›Œë“œ1,ã…‹ã…‹ ë¹ˆë„ ìˆ˜,ê´‘ê³ ë¶„ë¥˜1,ê´‘ê³ ë¶„ë¥˜2
0,https://blog.naver.com/PostView.naver?blogId=s...,ì˜¤ëœë§Œì— ë‹¤ì‹œ ëŒì•„ì˜¨ ë˜ë‹ˆë¡œê·¸ğŸ˜† ì½”ë‹¥ ë¯¸ë‹ˆìƒ· 3 ì„ ë¬¼ë°›ê³ ì‹ ë‚œ ë§ˆìŒì— ë¸”ë¡œê·¸ ë“¤ì–´ì™”...,the,617,13,11,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,https://blog.naver.com/PostView.naver?blogId=h...,ì‚¬ë°©íŒ”ë°© ì•„ê¸°ë“¤ì—ê²Œ ìƒì¼ì„ ë¬¼ë¡œ ë°›ì€ ì¦‰ì„ì¹´ë©”ë¼ ì½”ë‹¥ ë¯¸ë‹ˆìƒ· ì½¤ë³´3 ë ˆíŠ¸ë¡œ!! ê°„ë‹¨í•˜...,NaN,1305,19,19,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0

# 3. Feature ìƒì„±

## 3.1 OCRì—ì„œ ë½‘íŒ ì´ë¯¸ì§€ ë°ì´í„°ì— íŠ¹ì§• ë§Œë“¤ê¸°
### ì´ì „ì— ë¹„í•´ì„œ ì ì¤‘ë¥ ì„ ë†’ê²Œ í•œë‹¤ë©´ ì–´ë–»ê²Œ í• ê¹Œ ë¼ëŠ” ê³ ë¯¼ ëì— ìµœì¢…ì ì¸ feature ìƒì„±í•˜ê¸°ë¡œ í•¨
> ì œí’ˆì„ ì œê³µë°›ì•„ ì‘ì„±ëœ ê¸€ì…ë‹ˆë‹¤.

ë¼ê³  í•˜ë©´ ì œí’ˆ 1, ì œê³µ 1 ì‘ì„± 1 ë°›ì•„ 1 -> ì´ 4ì ì„ ì¸¡ì •ì‹œì¼œ, ì ìˆ˜ê°€ ê³ ì ì¼ ìˆ˜ë¡ ê´‘ê³ ì¼ í™•ë¥ ì´ ë†’ë‹¤ ë¼ê³  ê°€ì„¤ì„ ì„¸ì›Œì„œ ì§„í–‰í•˜ê³ ì í•œë‹¤.

In [58]:
df.loc[df['context_img'].isnull(),"context_img"] = ''

* ê´‘ê³  ì ì¤‘ë¥ (AD_score)

In [57]:
kk_list = ['ë¶€í„°|ì—ì„œ','ë°˜ë“œì‹œ','ì œê³µ', 'ëŒ€ì—¬' ,'ë¬´ìƒ','ë°›ì„|ë°¥ì•„|ë°›ì•„|ë°˜ì•„|ë°”ì•„|ë°›ì´|ë°˜ì´','ì„ ì •|ì„ ì ' ,'ì§€ì›' ,'ì—…ì²´' ,'ì›ê³ ë£Œ|ìš´ê³ ë£Œ','í˜‘ì°¬|í˜‘ì§„|í˜‘ì”','ë¶€í„°', 'ì†Œì •ë£Œ' ,'ì·¨ì¬ë¹„' ,'ì œí’ˆ','ì„œë¹„ìŠ¤' ,'ì²´í—˜ë‹¨|ì œí—˜ë‹¨|ì²´í—˜' ,'ì œì‘ë¹„|ì œì‘|ì‚­ì„±|ì œì‚­|ì²´ì‚­|ì„¸ì‘|ìƒˆì‘|ì¬ì‘']

In [59]:
col_list_ad = []
for i in range(len(kk_list)):
#     print(kk_list[i])
    save_col = f"ì´ë¯¸ì§€ê´‘ê³ _{i}"
    df[save_col] = 0
    df.loc[df["context_img"].str.contains(kk_list[i]),save_col]=1
    col_list_ad.append(save_col)

In [60]:
df["AD_score"] = df[col_list_ad].sum(axis=1)

In [61]:
df[df["AD_score"]>1]["AD_score"].describe()

count    130.000000
mean       4.123077
std        1.452159
min        2.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        7.000000
Name: AD_score, dtype: float64

In [62]:
df[["ê´‘ê³  ë¶„ë¥˜2","AD_score"]].groupby(["ê´‘ê³  ë¶„ë¥˜2"]).describe()

       AD_score
          count      mean       std  min  25%  50%  75%  max
ê´‘ê³  ë¶„ë¥˜2
0        1932.0  0.038820  0.243069  0.0  0.0  0.0  0.0  5.0
1         177.0  0.169492  0.482155  0.0  0.0  0.0  0.0  2.0
2         361.0  1.443213  2.145464  0.0  0.0  0.0  3.0  7.0

* ì¿ íŒ¡ íŒŒíŠ¸ë„ˆìŠ¤ ì ì¤‘ë¥ (CP_score)

In [67]:
kk_list = ['íŒŒíŠ¸ë„ˆìŠ¤|í”¼íŠ¸ë„ˆìŠ¤|í”¼íŠ¸|ë„ˆìŠ¤','ì¿ íŒ¡|ì¿ ê´‘|êµ¬íŒ¡|êµ¬íŒŒ|ì¿ íŒŒ','ì¼ì •ì•¡|ìˆ˜ìˆ˜ë£Œ|ì´ì •ì•¡|ìˆ˜ë£Œ','ìˆ˜ìµ|ìˆ˜ì´|ìŠ¤ì´|ìŠ¤ìµ','ì¼ì›|ì¼ì›Œ|ì¸ì›Œ']

In [68]:
col_list_cupan = []
for i in range(len(kk_list)):
#     print(kk_list[i])
    save_col = f"ì´ë¯¸ì§€ì¿ íŒ¡_{i}"
    df[save_col] = 0
    df.loc[df["context_img"].str.contains(kk_list[i]),save_col]=1
    col_list_cupan.append(save_col)

In [69]:
df["CP_score"] = df[col_list_cupan].sum(axis=1)

In [70]:
df[["ê´‘ê³  ë¶„ë¥˜2","CP_score"]].groupby(["ê´‘ê³  ë¶„ë¥˜2"]).describe()

       CP_score
          count      mean       std  min  25%  50%  75%  max
ê´‘ê³  ë¶„ë¥˜2
0        1932.0  0.002070  0.071933  0.0  0.0  0.0  0.0  3.0
1         177.0  0.265537  0.777963  0.0  0.0  0.0  0.0  4.0
2         361.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

* ìˆœìˆ˜ ë¦¬ë·° ì ì¤‘ë¥  (PU_score)

In [71]:
kk_list = ['ë‚´ëˆë‚´ì‚°|ë‚´ëˆ|ë‚´ì‚°','ì‚¬ë¹„','ì§ì ‘|ì§€ì ‘','êµ¬ë§¤|ê·¸ë§¤','ì¼ì •ì•¡|ì¼ì •','ì†”ì§','ì•Šì€|ì•Š']

In [72]:
col_list_Pu = []
for i in range(len(kk_list)):
#     print(kk_list[i])
    save_col = f"ì´ë¯¸ì§€ìˆœìˆ˜_{i}"
    df[save_col] = 0
    df.loc[df["context_img"].str.contains(kk_list[i]),save_col]=1
    col_list_Pu.append(save_col)

In [73]:
df["PU_score"] = df[col_list_Pu].sum(axis=1)

In [74]:
df[["ê´‘ê³  ë¶„ë¥˜2","PU_score"]].groupby(["ê´‘ê³  ë¶„ë¥˜2"]).describe()

       PU_score
          count      mean       std  min  25%  50%  75%  max
ê´‘ê³  ë¶„ë¥˜2
0        1932.0  0.024327  0.187458  0.0  0.0  0.0  0.0  3.0
1         177.0  0.141243  0.349260  0.0  0.0  0.0  0.0  1.0
2         361.0  0.038781  0.207211  0.0  0.0  0.0  0.0  2.0

In [75]:
df.drop(col_list_ad,axis=1,inplace=True)
df.drop(col_list_cupan,axis=1,inplace=True)
df.drop(col_list_Pu,axis=1,inplace=True)

In [78]:
df.columns

Index(['url', 'content', 'context_img', 'content_cnt', 'content_line',
       'img_cnt', '... ë¹ˆë„ ìˆ˜', 'ë‚´ëˆë‚´ì‚° í‚¤ì›Œë“œ', 'ì¿ íŒ¡í‚¤ì›Œë“œ', 'ã…  ë¹ˆë„ ìˆ˜', 'ê´‘ê³ í‚¤ì›Œë“œ',
       'ë‹¨ì  ë¹ˆë„ ìˆ˜', 'ã…  ë¹ˆë„ ìˆ˜', 'ê´‘ê³ í‚¤ì›Œë“œ', 'ë‹¨ì  ë¹ˆë„ ìˆ˜', 'ì´ë¯¸ì§€ê´‘ê³ í‚¤ì›Œë“œ3', 'ë¹„êµ ë¹ˆë„ ìˆ˜',
       'ì†”ì§ ë¹ˆë„ ìˆ˜', 'coupan.ng í‚¤ì›Œë“œ', 'quote_cnt', 'ã…‹ã…‹ã…‹ã…‹ ë¹ˆë„ ìˆ˜', 'ã…‹ ë¹ˆë„ ìˆ˜',
       'ì´ë¯¸ì§€ê¸€ì—†ìŒ', 'ì´ë¯¸ì§€ê´‘ê³ í‚¤ì›Œë“œ1', 'ì´ë¯¸ì§€ì¿ íŒ¡í‚¤ì›Œë“œ1', 'ã…‹ã…‹ ë¹ˆë„ ìˆ˜', 'ê´‘ê³  ë¶„ë¥˜1', 'ê´‘ê³  ë¶„ë¥˜2',
       'AD_score', 'CP_score', 'PU_score'],
      dtype='object')

In [77]:
df.to_csv("Total_Data_5(1).csv",index=False)